section(class="hero is-medium banner-mid-has-bg-img is-bold")
    div(class="hero-body")
        div(class="container has-text-centered")
            div(class="columns")
                div(class="column")
                    img(class ="image is-96x96 is-inline-block", src="assets/images/logo-cvx.png", alt="") 
                    h1(class="title has-text-white") Lorem ipsum dolor sit amet.