section(class="hero is-large has-bg-img")
    div(class="hero-head")
        include ../includes/_navbar.pug

    div(class="hero-body")
        div(class="container")
            div(class="columns")
                div(class="column is-half")
                    h1(class="is-size-2 title has-text-white") 
                        p Revolutionising Conveyancing through Digitisation
                    h2(class="subtitle has-text-white") 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, illo beatae eius voluptatum aperiam cupiditate minima, facilis consequatur aliquam totam explicabo! Possimus ullam dolorem qui esse mollitia quod laboriosam odit!
                    div(class="columns")
                        div(class="column is-half")
                            button(class="button is-danger  is-medium is-fullwidth") Sign Up
                            