nav(class="navbar is-transparent")
    div(class="container")
        div(class="navbar-brand")
            a(class="navbar-item has-text-white")
                img(src="assets/images/logo-cvx.png", alt="") 
                p(class="is-size-5") &nbsp; ConvX

        div(class="navbar-end")
            a(class="navbar-item has-text-white") About Us
            a(class="navbar-item has-text-white") Contact Us
            a(class="navbar-item has-text-white") How it Works
            a(class="navbar-item")
                button(class="button is-info") Sign In             
