section(class="hero")
    div(class="hero-body")
        div(class="has-text-centered")
            icon(class="fab fa-linkedin fa-2x")
            br
            br

            p Privacy Policy Terms & Condition
            br

            p Copy Right &copy; ConvX
            br

            p v0.01

