section(class="hero is-info")
    div(class="hero-body has-text-centered")
        h1(class="is-size-3") Contact Information
        br
        p   
            span
                i(class="fas fa-map-marker-alt") 
                |&nbsp; Lorem ipsum dolor sit amet.
        br
        p   
            span
                i(class="fas fa-phone") 
                |&nbsp; XXXX-XXX-XXXX
        br
        p   
            span
                i(class="fas fa-fax") 
                |&nbsp; XXXX-XXX-XXXX
        br
        p   
            span
                i(class="fas fa-envelope") 
                |&nbsp; example@gmail.com