<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="assets/css/bulma.css")
        link(rel="stylesheet", href="assets/css/custom.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")
        title Document
    body
    
        include ../includes/_banner-heading.pug
        include ../includes/_banner-about.pug
        include ../includes/_banner-mid.pug
        include ../includes/_section-how-it-works.pug
    