.has-bg-img { 
    background: url('./../images/banner-1.jpeg')center center; background-size:cover; 
}

.banner-mid-has-bg-img { 
    background: url('./../images/img-quote.jpeg')center center; background-size:cover; 
    // -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */ 
    //  filter: grayscale(80%); 
}
 

.navbar{
    box-shadow: none !important;
}
.is-fullwidth {
    width: 100%;
}
.is-automargin {
    margin:auto; 
}
.is-grayscale {
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ 
     filter: grayscale(100%); 
}
.img-is-bottom-left{
    margin-bottom: 12px;
    background: url('./../images/img-howitworks-2.jpeg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom left;
}
        
.navbar-menu {
    @media screen and (max-width: 1087px){
        background-color: transparent;
        box-shadow: 0 8px 16px rgba(10,10,10,0.1);
        padding: 0.5rem 0;
    }
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: transparent;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}